* {
	margin: 0;
	padding: 0; 
}

.board {
	display: flex;
	margin: 50px auto;
	border: 1px solid;
	width: 640px;
	height: 640px;
	flex-wrap: wrap;
}


.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 78px;
	width: 78px;
	border: 1px solid;
}

.current {
	background-color: currentColor;
	background: url(../img/h.png) center no-repeat;
	background-size: cover;
	height: 78px;
	width: 78px;
}


.hoverCell {
	background-color: #FF7F50;
}